
body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 144%;
	-webkit-text-size-adjust: none;

	min-height: 100px;
	margin-bottom: 40px;
	
	background-color: black;
}

.imagescaler
{
	background-color:transparent;
	position:relative;
	z-index:0;
	width: 60px;
	height: 60px;
}


img.layer
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:2;
	top: 0; left: 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
img.badge
{
	width:50%;
	height:50%;
	position:absolute;
	z-index:3;
	bottom: -15%; right: -15%;
}


.ButtonBoardArea
{
	border:none;
	

	text-align:center; 
	font-family: Arial, sans-serif;
	font-size:10px; 
	color:#d4d4d5; 

	-webkit-text-size-adjust: none;
	-webkit-user-select:none;
	-moz-user-select:none;
	z-index:-1;

}

.ButtonBoardArea table
{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-width: 0px;
	padding: 0px;
	border-spacing: 0px 0px;

	-webkit-user-select:none;
	-moz-user-select:none;
}


.ButtonBoardArea td
{

	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align:text-top;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 10px;

	margin: 0px;
	width: 67px;
	-webkit-user-select:none;
	-moz-user-select:none;
}

:focus { -moz-outline-style: none; }

.ButtonBoardArea img
{

/*	margin-left: 2px;
	margin-right: 2px;

padding-top: 10px;
*/	


	border:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	outline-style: none;
}

#launcher_stat {
	display:none;
    /*set the div in the center of the screen*/
    /*position:absolute;
    top:50%;
    left:50%;*/
    position: absolute;
 	font-size: 14px;
 	font-weight: bold;
	width:150px;
	height:150px;
	z-index:6;

} 
